#main-menu .text-white {
  color: #1977cc !important;
}

/* .whyChooseUsContainer {
    width: 350px;
    align-items: end;
    margin-top: -250px;
    z-index: 2;
    position: absolute;
    margin-left: 900px;
} */

.topContact {
  height: 30px;
  display: flex;
}

/* .navbar {
    position: fixed !important;
    z-index: 5;
} */

.navbar-toggler {
  color: "#1977cc" !important;
}

.topContact {
  margin-inline: 40px;
  align-items: center;
  padding-top: 10px;
}

.contacts {
  display: flex;
  gap: 10px;
}

.socialIcons {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

/* HERO */
#hero {
  width: 100%;
  height: 90vh;
  /* background: url("../../../images/hero-bg.jpg") top center; */
  background-size: cover;
  margin-bottom: -200px;
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964;
}

#hero h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}

#hero .btn-get-started:hover {
  background: #3291e6;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }

  #hero .container {
    padding-bottom: 63px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 110vh;
  }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
  color: #fff;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
  font-size: 14px;
}

.why-us .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

.countMainContainer {
  background-color: #f1f7fd;
  padding: 70px;
}

/* OUR SERVICES */
.serviceContainer h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #2c4964;
}

.serviceContainer p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;

}

.card {
  box-shadow: 0px 5px 10px 0px #cceeff;
  margin-bottom: 15px;
}

.card-body h5 {
  font-size: 24px;
  font-weight: 700;
  color: #2c4964;
}

.card-body p {
  font-size: 14px;
  font-weight: 400;
}

/* APPOINTMENT */
.makeApointment {
  background-color: #f1f7fd;
  padding: 10px;
}

.makeApointment h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #2c4964;
}

.makeApointment p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

#heading {
  font-size: 32px;
  font-weight: bold;
  color: #2c4964;
}

.frequentlyAskQsn h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #2c4964;
}

.frequentlyAskQsn p {
  font-weight: 400;
  font-size: 16px;
}

.accordion-button {
  font-size: 16px;
  font-weight: 500;
}

.contactSectn h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #2c4964;
}

.contactSectn p {
  font-weight: 400;
  font-size: 16px;
}

/*GALLERY*/
.galleryTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #2c4964;
  padding: 1%;
}

#gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;

  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

@media (max-width:1200px) {
  #gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width:800px) {
  #gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width:600px) {
  #gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

#gallery img,
#gallery video {
  width: 100%;
  height: auto;
  margin: 4% auto;
  box-shadow: -3px 5px 15px #000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal-img,
.model-vid {
  width: 100%;
  height: auto;
}

.modal-body {
  padding: 0px;
}

#devices {
  -webkit-column-count: 8;
  -moz-column-count: 8;
  column-count: 8;

  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

@media (max-width:1200px) {
  #devices {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width:800px) {
  #devices {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width:600px) {
  #devices {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

#devices img,
#devices video {
  width: 100%;
  height: auto;
  margin: 4% auto;
  box-shadow: -3px 5px 15px #000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}


.imageCarousel {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.imageCarousel img {
  width: 300px;
  height: auto;
  box-shadow: -3px 5px 15px #000;
  margin: 4% auto;
}

@media (max-width:600px) {
  .imageCarousel {
    overflow-x: scroll;
    scrollbar-color: red;
    width: 350px;
  }
}

/* MY MEDIA */

@media (max-width: 576px) {
  .container-fluid a {
    font-size: 15px !important;
  }

  .topContact h6 {
    display: flex !important;
    align-items: center;
    font-size: 10px !important;
  }

  .contacts {
    margin-left: 0%;
    align-items: center;
  }

  .topContact {
    margin-inline: 5px;
    margin-bottom: 0%;
  }

  .countMainContainer {
    background-color: #f1f7fd;
    padding: 10px;
  }

  .counter {
    padding: 0px 0px;
    width: 65px;
    height: 60px;
    margin-right: 0;
    margin-left: 0;
  }

  .count-title {
    font-size: 10px;
    margin: 0%;
    margin-top: 2px;
  }

  .count-text {
    margin-top: 10px;
    font-size: 8px;
    margin: 0%;
  }

  .counter i {
    font-size: 12px !important;
    margin: 0%;
  }

}

/*FOOTER*/
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
}